<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Elzire{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block head_javascript %}
        {% endblock %}
        
        {% block head_stylesheets %}
            <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('dist/css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('dist/css/style.css') }}" />
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}

        {% block body_javascript %}
            <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('node_modules/tether/dist/js/tether.min.js') }}"></script>
            <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js') }}"></script>
            <script src="{{ asset('node_modules/lazysizes/lazysizes.min.js') }}" async=""></script>
        {% endblock %}
    </body>
</html>
