{% extends 'AppBundle::page.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block underTitle %}
<div class="mb-3">
    <h5 class="text-uppercase elziregreen roboto-light">
        {{ title }}
    </h5>
</div>
{% endblock %}

{% block content %}
<div class="content-div container-fluid mx-auto mb-5">

    <div class="row mb-5 d-flex justify-content-center">

        {% for category in list %}

        <div class="col-50 col-md-25 col-lg-17 col-xl-17 mb-30px">
            <a {% if category["activated"] == true %}href="{{ category["url"] }}"{% endif %} class="img-link bg-light rounded-circle{% if category["activated"] == false %} disabled{% endif %}">
                <img class="img-fluid img-fill lazyload blur-up" alt="{{ category["name"] }}" src="{{ category["placeholder"] }}" data-src="{{ asset(category["image"]) }}"/>
                <div class="d-flex flex-column justify-content-center rounded-circle w-100">
                    <div class="text-center">
                        {{ category["name"] }}
                        {% if category["activated"] == false %}
                            <br><small>Très prochainement !</small>
                        {% endif %}
                </div>
            </div>
            </a>
        </div>

        {% endfor %}

    </div>

</div>
{% endblock %}

{% block other %}
{% endblock %}
