{% extends 'AppBundle::page.html.twig' %}

{% block title %}Elzire collection{% endblock %}

{% block underTitle %}
{% endblock %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="row">
        <div class="d-none d-lg-block col-15">
            <!--<div class="green-separator mb-3"></div>-->
            <div class="mb-3">
                <h5 class="elziregreen">
                    {{ categorie }}
                </h5>
            </div>
            <div class="other-collections bg-white pb-2">
                <div class="green-separator mb-2"></div>
                <div class="px-2">
                    <h6 class="elziregreen">
                        AUTRES THÈMES
                        <br/>
                        <small class="elziregreen">
                            DANS LES COLLECTIONS MARIAGE
                        </small>
                    </h6>
                    {% for other in others %}
                    <a href="{{ other['url'] }}">
                        <div class="">
                            {{ other['name'] }}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-60 col-lg-45">
            <div class="mb-4">
                <div class="img-card main-image">
                    <img src="{{ main_image }}" class="img-fluid"/>
                    <div class="big-title-footer">
                        Ceci est un texte qui doit être écrit par Elzire.
                    </div>
                </div>
            </div>
            <div class="row">
                {% for element in elements %}
                <a href="{{ element['url'] }}" class="col-30 col-md-20 col-xl-20 mb-4 color-black">
                    <div class="img-card">
                        <img src="{{ element['miniature'] }}" class="img-fluid img-fill"/>
                        <div class="title-footer">
                            {{ element['name'] }}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block other %}
{% endblock %}

{% block end_body %}
{% endblock %}
