{% extends 'AppBundle::page.html.twig' %}

{% block title %}Elzire element{% endblock %}

{% block underTitle %}
<!-- <div class="w-25 green-separator mb-3"></div> -->
<div class="mb-3">
    <h5 class="elziregreen">
        {{ categorie }}
    </h5>
    {% if title %}
    <h2>
        {{ title }}
        {% if subtitle %}
        <small>
            <i style="font-size: 0.5rem;position:relative;bottom:0.35rem" class="fa fa-circle"></i> 
            <span class="elziregreen">{{ subtitle }}</span>
        </small>
        {% endif %}
    </h2>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="container-fluid mb-3">
    <div class="row justify-content-center">
        <div class="col-60 col-lg-40">
            <div class="mb-4 text-center bg-light">
                <img role="button" onclick="$.fancybox.open(window.gallery).jumpTo(0)" class="cursor-pointer img-fluid main-image" src="/image/{{ base_url }}{{main_image}}"/>
            </div>
            <div class="row">
                {% for image in images %}
                <a data-fancybox="gallery" href="/image/{{ base_url }}{{ image }}" class="col-30 col-sm-20 col-lg-15 mb-4">
                    <img class="img-fluid img-fill" src="/miniature/{{ base_url }}{{ image }}"/>
                </a>
                {% endfor %}
            </div>
            <div class="m-1 row">
                <p class="roboto-light">
                    {{ description | raw }}
                </p>
            </div>
        </div>
        <div class="col-20 pt-2 d-none d-lg-block">
            <div class="container text-center">
                Dans la même collection
            </div>
            <div id="others" class="carousel slide" data-interval="false">
                <ol class="carousel-indicators others-carousel-indicators">
                    {% for other in others %}
                    {% if loop.index0 % 8 == 0 %}
                    <li data-target="#others" data-slide-to="{{ loop.index0 // 8 }}"
                        {% if loop.index0 == 0 %} class="active" {% endif %}
                        ></li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row p-2"> 
                            {% for other in others %}
                            <a href="{{ other['url'] }}" class="col-30 text-center mb-3">
                                <div class="img-card">
                                    <img src="/miniature/{{ base_url }}{{ other['miniature'] }}" class="img-fluid img-fill"/>
                                    <div class="green-title-footer">
                                        {{ other['name'] }}
                                    </div>
                                </div>
                            </a>
                            {% if loop.index % 8 == 0 %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row p-2"> 
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block end_body %}
<script>
    window.gallery = $('[data-fancybox="gallery"]').fancybox();
</script>
{% endblock %}
