{% extends 'AppBundle::page.html.twig' %}

{% block header %}
<header class="landing-header mb-3">
    <div class="surlignage"></div>
    <div class="pt-2 pb-2 en-tete d-flex flex-column justify-content-center align-items-center">
        <img src="{{ asset('assets/logo-elzire.png') }}" class="logo-img" />
        <div class="mb-1 header-separator"></div>
        <div class="slogan"> Les faire-parts créatifs façon Elzire </div>
    </div>
</header>
{% endblock %}

{% block contentHeader %}
{% endblock %}

{% block content %}
<div class="mb-5">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for ban in bannieres %}
            <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for ban in bannieres %}
            {% if loop.index0 == 0 %}
            <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                    {% endif %}
                    {% if ban['url'] != "" %}
                    <a href="{{ ban['url'] }}">
                        {% endif %}
                        <img class="d-block img-fluid" src="{{ ban['image'] }}"/>
                        <div class="elzire-carousel-caption d-none d-md-block roboto-light">
                            <h2 class="roboto-thin">{{ ban["title"] | raw }}</h2>
                            <p>{{ ban["text"] | raw }}</p>
                            {% if ban['url'] != "" %}
                            <p class="roboto-regular"><small>Cliquez pour découvrir la collection</small></p>
                            {% endif %}
                        </div>
                        {% if ban['url'] != "" %}
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid mb-5" data-interval="10000" data-pause="hover">

        <div class="container mb-5">
            <h5 class="roboto-light uppercase">Il y a des événements qui valent la peine d’être partagés.</h5>
            <p class="roboto-light">
                Que ce soient des mariages, des naissances ou des baptêmes, ces événements sont fondateurs de notre vie familiale et occupent une place importante dans nos coeurs.
                <br />
                Je vous accompagne dans leur réalisation en vous proposant des faire-parts élégants qui sauront porter votre message.
                <br />
                Du concept à la création, mes collections sont intégralements produites par moi. Mon artisanat et mon professionnalisme vous assureront originalité et une grande qualité d'exécution.
                <br />
                Un faire-part à votre image est une invitation réussie et un bon départ pour votre événement.
                <br /><br />
                Tous mes produits sont personnalisables : choisissez votre texte et vos couleurs préférées !
                <br />
                Pour toute demande ou pour passer commande, <strong><a href="/contact">contactez Elzire !</a></strong>
            </p>
        </div>

        <div class="container mb-5">
            <div class="row d-flex align-items-start">
                <div class="col-60 col-md-20 d-flex justify-content-center align-items-center flex-column mb-4">
                    <a href="#" class="round-link d-flex justify-content-center align-items-center flex-column mb-5">
                        <span class="mes">Mes</span>
                        <span class="roboto-light mb-4">collections</span>
                    </a>
                    <div class="text-center roboto-light">
                        J’illustre avec passion
                        des thèmes afin de
                        réaliser des collection
                        de faire-part et de jolies
                        cartes, dont la plupart
                        sont entièrement
                        dessinées à la main ou à
                        la tablette graphique.
                    </div>
                </div>
                <div class="col-60 col-md-20 d-flex justify-content-center align-items-center flex-column mb-4">
                    <a href="/illustrations" class="round-link d-flex justify-content-center align-items-center flex-column mb-5">
                        <span class="mes">Mes</span>
                        <span class="roboto-light mb-4">illustrations</span>
                    </a>
                    <div class="text-center roboto-light">
                        Mon loisir N°1,
                        l’illustration, C’est ici que
                        je dévoile ma «patte»
                        graphique.
                        Toujours avec un
                        mélange de symétrie,
                        d’élégance et de flore.
                    </div>
                </div>
                <div class="col-60 col-md-20 d-flex justify-content-center align-items-center flex-column mb-4">
                    <a href="#" class="round-link d-flex justify-content-center align-items-center flex-column mb-5">
                        <span class="mes">À</span>
                        <span class="roboto-light mb-4">propos</span>
                    </a>
                    <div class="text-center roboto-light">
                        Mes études, mon
                        parcours professionnel...
                        ce qui m’a mené à me
                        lancer dans ce projet
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block other %}
    {% endblock %}

    {% block end_body %}
    {% endblock %}
