{% extends 'AppBundle::base.html.twig' %}

{% block body %}
{% block header %}
<header class="page-header">
    <div class="surlignage"></div>
    <div class="en-tete container-fluid pos-r justify-content-center">
        <div class="container mx-auto">
            <div class="logo d-flex justify-content-center justify-content-md-start align-items-center">
                <a href="/">
                    <img src="{{ asset('assets/logo.png') }}" class="logo-img rounded-circle my-3 p-2" />
                </a>
                <img src="{{ asset('assets/elzire.png') }}" class="elzire-img d-none d-md-block"/>
            </div>
        </div>
        <div class="fleurs container-fluid"></div>
    </div>
</header>
{% endblock %}

{% block navbar %}
<div class="container-fluid justify-content-center mb-0 p-0">
    <nav class="navbar navbar-light navbar-expand-sm p-0 roboto-light">
        <div class="container mx-auto">
            <button style="border: none" class="navbar-toggler d-flex d-sm-none w-100 align-items-center justify-content-between" type="button" data-toggle="collapse" data-target="#navbarNav">
                <img style="height:3rem" src="/assets/elzire.png"/><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav justify-content-around">
                    <a href="/" class="nav-item nav-link d-flex justify-content-center">Accueil</a>
                    <div class="dropdown roboto-light d-flex flex-column justify-content-center">
                        <button class="bg-transparent btn nav-item nav-link roboto-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Faire-parts
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/mariages">Mariages</a>
                            <a class="dropdown-item disabled" href="#">Naissances (prochainement)</a>
                            <a class="dropdown-item disabled" href="#">Baptèmes (prochainement)</a>
                        </div>
                    </div>
                    <a href="/badges" class="nav-item nav-link d-flex justify-content-center">Badges</a>
                    <a href="/illustrations" class="nav-item nav-link d-flex justify-content-center">Illustrations</a>
                    <a href="/contact" class="nav-item nav-link d-flex justify-content-center">Contact</a>
                </div>
            </div>
        </div>
    </nav>
</div>
{% endblock %}

<div class="content-holder container mx-auto p-0">

    {% block contentHeader %}
    <div class="container-fluid mb-3">
        <div class="row justify-content-center">
            <div class="col-60">

                {% block breadcrumbs %}
                <nav class="breadcrumb px-0">
                    {% for breadcrumb in breadcrumbs %}
                    {% if loop.last %}
                    <span class="breadcrumb-item active">{{ breadcrumb[1] }}</span>
                    {% else %}
                    <a class="breadcrumb-item" href="{{ breadcrumb[0] }}">{{ breadcrumb[1] }}</a>
                    {% endif %}
                    {% endfor %}
                </nav>
                {% endblock %}

                {% block underTitle %}
                <div class="w-25 green-separator mb-3"></div>
                <div class="mb-3">
                    <h5 class="elziregreen">
                        {{ categorie }}
                    </h5>
                    {% if title %}
                    <h2>
                        {{ title }}
                        {% if subtitle %}
                        <small>
                            <i style="font-size: 0.5rem;position:relative;bottom:0.35rem" class="fa fa-circle"></i> 
                            <span class="elziregreen">{{ subtitle }}</span>
                        </small>
                        {% endif %}
                    </h2>
                    {% endif %}
                </div>
                {% endblock %}

            </div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

</div>


{% block footer %}
<footer>
    <div class="footer container-fluid">
        <div class="row d-flex justify-content-around">
            <div class="my-3 mx-2 py-1 col-30 align-items-center justify-content-center copyright d-none d-sm-flex">
                <div>
                    Copyright © 2017 - 2018 par Elzire <span class="d-none d-lg-inline">/ N°Siret 000 000 000 00000</span>
                </div>
            </div>
            <div class="col-25 d-flex align-items-center justify-content-center follow my-2">
                <span class="mr-2 d-none d-lg-block follow-me"> Suivez-moi ! </span>
                <a href="https://www.facebook.com/elzirefr" class="d-flex align-items-center">
                    <span class="fa-stack fa-2x">
                        <span class="fa fa-circle fa-stack-2x"></span>
                        <span class="fa fa-facebook fa-stack-1x"></span>
                    </span>
                </a>
                <a href="https://www.instagram.com/elzirefr" class="d-flex align-items-center">
                    <span class="fa-stack fa-2x">
                        <span class="fa fa-circle fa-stack-2x"></span>
                        <span class="fa fa-instagram fa-stack-1x"></span>
                    </span>
                </a>
                <a href="https://www.pinterest.com/elzirefr" class="d-flex align-items-center">
                    <span class="fa-stack fa-2x">
                        <span class="fa fa-circle fa-stack-2x"></span>
                        <span class="fa fa-pinterest-p fa-stack-1x"></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% endblock %}
