{% extends 'AppBundle::page.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block underTitle %}
    <div class="mb-3">
        <h5 class="text-uppercase elziregreen">
            {{ categorie }}
        </h5>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mx-auto mb-5">

        <div class="row mb-5">

        {% for illustration in illustrations %}

            <div class="col-6 col-md-4 col-lg-3 mb-30px">
                <a href="{{ illustration["url"] }}" class="img-link bg-faded">
                    <img class="img-fluid lazyload" src="{{ illustration["placeholder"] }}" data-src="{{ asset(illustration["image"]) }}"/>
                    <div>{{ illustration["name"] }}</div>
                </a>
            </div>
                
        {% endfor %}

        </div>

    </div>
{% endblock %}

{% block other %}
{% endblock %}
