{% extends 'AppBundle::page.html.twig' %}

{% block title %}{{ title }}{% endblock %}
                
{% block underTitle %}
    <div class="mb-3">
        <h5 class="text-uppercase elziregreen">
            {{ categorie }} - <small>{{ title }}</small>
        </h5>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mx-auto">

        <div class="mb-4 text-center bg-faded">
            <img role="button" onclick="$.fancybox.open(window.gallery).jumpTo(0)" class="img-fluid main-image" src="{{ main_image }}"/>
        </div>

        <div class="row">

            {% for mini in miniatures %}
                <a data-fancybox="gallery" href="{{ mini[1] }}" class="col-4 col-sm-3 col-md-2 mb-4">
                    <img class="img-fluid" src="{{ mini[0] }}"/>
                </a>
            {% endfor %}

        </div>

    </div>
{% endblock %}

{% block end_body %}
    <script>
        window.gallery = $('[data-fancybox="gallery"]').fancybox();
    </script>
{% endblock %}
